{% extends "package/base.html" %}
{% load i18n %}

{% block title %}{% translate "Pick an item" %} - {{block.super}}{% endblock title %}

{% block body_class %}deep-link{% endblock body_class %}

{% block main %}
    <p>{% blocktranslate with theme=theme.title %}Using the theme <strong>{{theme}}</strong>.{% endblocktranslate %}</p>

    <p>{% translate "Pick the item that this link will open." %}</p>

    <ul class="package-structure">
    {% for item in package.structure %}
        {% include "package/deep_link/structure_item.html" %}
    {% endfor %}
    </ul>

    {% include "package/deep_link/edit_package.html" %}
{% endblock main %}
