{% extends "package/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Pick a package to use" %}{% endblock title %}

{% block page_title %}{% translate "Pick a package to use" %}{% endblock page_title %}

{% block body_class %}deep-link pick-package{% endblock body_class %}

{% block head %}
    {{block.super}}
    <script type="module" src="{% static 'package/deep_link_pick_package.mjs' %}"></script>
{% endblock head %}

{% block main %}
    {% if same_context.exists %}
    <section id="same-context">
        {% with packages=same_context %}{% include "package/deep_link/packages.html" %}{% endwith %}
    </section>
    {% endif %}

    <section id="new-package">
        <p>{% translate "Or" %}</p>
        <ul>
            <li><a href="{% url 'material:new' %}?launch_id={{message_launch.get_launch_id}}">{% translate "Create a new package" %}</a>.</li>
            <li>
                <p>{% translate "Import a package from another context by URL" %}</p>
                <form method="POST">
                    <label for="import-url">{% translate "Package URL:" %}</label>
                    <input id="import-url" type="text" name="url">
                    <button type="submit">{% translate "Import to this context" %}</button>
                    {% for error in form.non_field_errors %}
                    <div class="form-error">{{error}}</div>
                    {% endfor %}
                    {% for error in form.errors.url %}
                        <div class="form-error">{% translate "Package URL:" %} {{error}}</div>
                    {% endfor %}
                </form>
            </li>
        </ul>
    </section>
{% endblock main %}
