{% load i18n %}
{% load material %}
<li>
    <label>
        {{item.title}}
        <input type="radio" name="item" value="{{item.url}}">
    </label>
    {% if item.slides_url %}
        <label>
            {% translate "Slides" %}
            <input type="radio" name="item" value="{{item.slides_url}}">
        </label>
    {% endif %}

    {% for theme in package.themes %}
        <a data-path="{{theme.path}}" href="{{package.get_output_url|urljoin:theme.path|urljoin:item.url}}" target="_blank">{% translate "Preview" %}</a>
    {% endfor %}

    {% if item.content %}
    <ul>
        {% for subitem in item.content %}
        {% include "package/deep_link/structure_item.html" with item=subitem %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
