{% extends "lti/base.html" %}
{% load static %}

{% block title %}{% if package %}{{package.title}} - {% endif %}{{block.super}}{% endblock title %}
{% block page_title %}
{{package.title}}{% if package.manifest.code %}<small> - {{package.manifest.code}}</small>{% endif %}{% if package.manifest.year %} <small>({{package.manifest.year}})</small>{% endif %}
{% if package.manifest.author %}
    <br>
    <small>by <strong class="author">{{package.manifest.author}}</strong></small>
{% endif %}
{% endblock page_title %}
