{% extends "package/base.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}build-progress build-status-{{compilation.status}}{% endblock body_class %}

{% block head %}
    {{block.super}}
    {{status_json|json_script:"status_json"}}
    <script src="{% static 'package/build_progress.mjs' %}" type="module"></script>
{% endblock head %}

{% block main %}
    <p id="built-message">{% blocktranslate with time=compilation.end_time.isoformat %}This build process finished at <time class="end-time">{{time}}</time>.{% endblocktranslate %}</[p>
    <p id="error-message">{% blocktranslate with time=compilation.end_time.isoformat %}This build process finished with an error at <time class="end-time">{{time}}</time>.{% endblocktranslate %}</[p>
    <p id="building-message">{% translate "The package is being built. Please wait." %}</p>

    <p id="time-taken-message">{% blocktranslate with time_taken=time_taken.total_seconds %}Took <time id="time-taken">{{time_taken}}</time> seconds.{% endblocktranslate %}</p>

    
    {% if compilation.status == 'building' %}
    <pre id="stderr">{% if compilation.status != 'building' %}{{compilation.errput}}{% endif %}</pre>
    {% endif %}
    <pre id="stdout">{% if compilation.status != 'building' %}{{compilation.output}}{% endif %}</pre>
{% endblock main %}
