{% extends "package/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Configuring" %} {{block.super}}{% endblock title %}
{% block page_title %}
    {% translate "Configuring" %} <em>{{block.super}}</em>
{% endblock page_title %}


{% block head %}
    <script src="{% static 'package/configure.mjs' %}" type="module"></script>
    {{files|json_script:"files_json"}}
    {{config|json_script:"config_json"}}

    {{block.super}}
{% endblock %}

{% block body_class %}configure-package two-column{% endblock body_class %}

{% block main %}
<chirun-package-config files="files_json" config="config_json" media-root="{{media_root}}"></chirun-package-config>
{% endblock main %}
