{% extends "package/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Configuring" %} {{block.super}}{% endblock title %}
{% block page_title %}
    {% translate "Configuring" %} <em>{{block.super}}</em>
{% endblock page_title %}


{% block head %}
    <script src="{% static 'package/configure.mjs' %}" type="module"></script>
    {{files|json_script:"files_json"}}
    {{config|json_script:"config_json"}}

    {{block.super}}
{% endblock %}

{% block body_class %}configure-package two-column{% endblock body_class %}

{% block main %}
    <form id="config-form" method="POST" enctype="multipart/form-data">
        {{form.config}}

        <div id="app">
            <nav>
                <button class="action" type="submit">{% translate "Save" %}</button>
                <ul role="tree" id="structure-tree">
                    <li role="presentation">
                        <button role="tab" type="button" :aria-expanded="config.structure.length>0 || null" :aria-current="tab == 'package-settings' || null" @click="tab = 'package-settings'">Package settings</button>
                        <ul role="tree">
                            <li role="presentation" v-for="item in config.structure">
                                <Structure-Item-Tree :current_tab="tab" :parent_list="config.structure" @select-item="select_item($event)" @add-item="add_item($event)" v-model="item"></Structure-Item-Tree>
                            </li>
                            <li>
                                <button class="action add-item" type="button" @click="add_item()">+ Add an item</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            
            <section id="package-settings" v-if="tab=='package-settings'" role="tabpanel">
                <fieldset>
                    <legend>Package metadata</legend>
                    
                    <label for="package-title">{% translate "Title" %}</label>
                    <input id="package-title" type="text" v-model="config.title">

                    <label for="package-author">{% translate "Author" %}</label>
                    <input id="package-author" type="text" v-model="config.author">

                    <label for="package-institution">{% translate "Institution" %}</label>
                    <input id="package-institution" type="text" v-model="config.institution">

                    <label for="package-code">{% translate "Course code" %}</label>
                    <input id="package-code" type="text" v-model="config.code">

                    <label for="package-year">{% translate "Year" %}</label>
                    <input id="package-year" type="text" v-model="config.year">

                    <label for="package-locale">{% translate "Language" %}</label>
                    <input id="package-locale" type="text" v-model="config.locale">
                </fieldset>

                <fieldset>
                    <legend>Build options</legend>

                    <label for="package-build_pdf">{% translate "Build PDFs?" %}</label>
                    <input id="package-build_pdf" type="checkbox" v-model="config.build_pdf">

                    <label for="package-num_pdf_runs">{% translate "Number of PDF runs" %}</label>
                    <input id="package-num_pdf_runs" type="number" min="1" v-model="config.num_pdf_runs">

                    <label for="package-mathjax_url">{% translate "URL to load MathJax from" %}</label>
                    <input id="package-mathjax_url" type="url" v-model="config.mathjax_url">

                </fieldset>
            </section>

            <section id="current-item" v-if="tab?.item" role="tabpanel">
                <Structure-Item-Editor v-model="tab" :file_tree="file_tree" @delete-item="delete_item($event)"></Structure-Item-Editor>
            </section>
        </div>
    </form>
{% endblock main %}
