{% extends "package/base.html" %}

{% load i18n %}

{% block page_title %}{% translate "Create a new package" %}{% endblock page_title %}

{% block main %}
    <form method="POST" enctype="multipart/form-data">
        <p class="input-hint">{% blocktranslate %}If you already have source files, upload them, either separately or in a .zip file.{% endblocktranslate %}</p>
        <p>{% blocktranslate %}Or to start a new package from scratch, just click <strong class="guilabel">Submit</strong>.{% endblocktranslate %}</p>
        <hr>
        {{form}}
        
        <p><button class="action" type="submit">{% translate "Submit" %}</button></p>
    </form>

{% endblock main %}
