{% extends "package/base.html" %}
{% load i18n %}

{% block title %}{% translate "Pick an item" %} - {{block.super}}{% endblock title %}

{% block body_class %}deep-link{% endblock body_class %}

{% block main %}
    {% if package.build_status == 'built' %}
        <p>{% translate "Pick the item that this link will open." %}</p>

        <ul class="package-structure">
        {% for item in package.structure %}
            {% include "package/deep_link_structure_item.html" %}
        {% endfor %}
        </ul>

    {% elif package.build_status == 'building' %}
        <p>{% translate "This package is being built." %}</p>
        <a href="{% url 'material:deep_link' message_launch.get_launch_id %}?package={{package.uid}}">{% translate "Reload" %}</a>
    {% elif package.build_status == 'error' %}
        <p>{% translate "There was an error building this package." %}</p>
    {% endif %}

    <p><a target="_blank" href="{% url 'material:view' package.uid %}">{% translate "Edit this package" %}</a></p>
{% endblock main %}
