{% extends "package/base.html" %}
{% load i18n %}

{% block title %}{% if not package %}{% translate "Pick a package to use" %}{% else %}{% translate "Pick an item" %} - {{block.super}}{% endif %}{% endblock title %}

{% block page_title %}{% if not package %}{% translate "Pick a package to use" %}{% else %}{{block.super}}{% endif %}{% endblock page_title %}

{% block body_class %}deep-link{% endblock body_class %}

{% block main %}
    {% if not package %}
        <ul>
            {% for package in packages %}
            <li><a href="?package={{package.uid}}">{{package.title}}</a> - {{package.build_status}}</li>
            {% endfor %}
        </ul>

        <p>{% translate "Or" %} <a href="{% url 'material:new' %}?launch_id={{message_launch.get_launch_id}}">{% translate "upload a new package" %}</a>.</p>

        
        
    {% else %}
        {% if package.build_status == 'built' %}
            <p>{% translate "Pick the item that this link will open." %}</p>

            <ul>
            {% for item in package.structure %}
                {% include "package/deep_link_structure_item.html" %}
            {% endfor %}
            </ul>

        {% elif package.build_status == 'building' %}
            <p>{% translate "This package is being built." %}</p>
            <a href="{% url 'material:deep_link' message_launch.get_launch_id %}">{% translate "Reload" %}</a>
        {% elif package.build_status == 'error' %}
            <p>{% translate "There was an error building this package." %}</p>
            <pre class="build-output">{{package.compilations.last.output}}</pre>
        {% endif %}
    {% endif %}
{% endblock main %}
