{% extends "package/base.html" %}
{% load i18n %}

{% block title %}{% translate "Pick a package to use" %}{% endblock title %}

{% block page_title %}{% translate "Pick a package to use" %}{% endblock page_title %}

{% block body_class %}deep-link{% endblock body_class %}

{% block main %}
    <ul>
        {% for package in packages %}
        <li><a href="?package={{package.uid}}">{{package.title}}</a> - {{package.build_status}}</li>
        {% endfor %}
    </ul>

    <p>{% translate "Or" %} <a href="{% url 'material:new' %}?launch_id={{message_launch.get_launch_id}}">{% translate "upload a new package" %}</a>.</p>
{% endblock main %}
