{% extends "package/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Pick a package to use" %}{% endblock title %}

{% block page_title %}{% translate "Pick a package to use" %}{% endblock page_title %}

{% block body_class %}deep-link pick-package{% endblock body_class %}

{% block head %}
    {{block.super}}
    <script type="module" src="{% static 'package/deep_link_pick_package.mjs' %}"></script>
{% endblock head %}

{% block main %}
    {% if same_context.exists %}
    <section id="same-context">
        <h2>{% translate "Packages in this context" %}</h2>
        {% with packages=same_context %}{% include "package/deep_link_packages.html" %}{% endwith %}
    </section>
    {% endif %}

    {% if same_tool.exists %}
    <section id="same-tool">
        <h2>{% translate "Packages in other contexts on this platform" %}</h2>
        {% with packages=same_tool %}{% include "package/deep_link_packages.html" %}{% endwith %}
    </section>
    {% endif %}

    {% if other_built.exists %}
    <section id="other-built">
        <h2>{% translate "Other packages" %}</h2>
        {% with packages=other_built %}{% include "package/deep_link_packages.html" %}{% endwith %}
    </section>
    {% endif %}

    <p>{% translate "Or" %} <a href="{% url 'material:new' %}?launch_id={{message_launch.get_launch_id}}">{% translate "upload a new package" %}</a>.</p>
{% endblock main %}
