{% extends "package/base.html" %}

{% load i18n %}

{% block body_class %}package-details{% endblock body_class %}

{% block main %}
    <section id="controls">
        <h2>{% translate "Manage this package" %}</h2>

        <p>{% translate "The following URL allows you to edit this package at a later date." %}</p>
        <pre>{{request.build_absolute_uri}}</pre>

        <nav>
            <form method="POST" action="{% url 'material:build' package.edit_uid %}">
                <button type="submit">{% translate "Build" %}</button>
            </form>
            <a href="{% url 'material:configure' package.edit_uid %}">{% translate "Configure" %}</a>
            <a href="{% url 'material:file_root' package.edit_uid %}">{% translate "View or edit files in this package" %}</a>
            <a class="danger" href="{% url 'material:delete' package.edit_uid %}">{% translate "Delete this package" %}</a>
        </nav>
    </section>

    {% if package.build_status == 'built' %}
    <section id="view">
        <h2>{% translate "View this package's content" %}</h2>

        <p><a href="{% url 'material:download' package.edit_uid %}">{% translate "Download the generated content as a .zip file" %}</a></p>

        {% if package.themes|length > 1 %}
        <ul class="package-built-themes">
            {% for theme in package.themes %}
            <li>
                <h3>{% blocktranslate with theme=theme.title %}Theme "{{theme}}"{% endblocktranslate %}</h3>
                <ul class="package-structure">
                    {% for item in package.structure %}
                    {% include "package/structure_item.html" %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        {% else %}
            {% with theme=package.themes.0 %}
                <ul class="package-structure">
                    {% for item in package.structure %}
                    {% include "package/structure_item.html" %}
                    {% endfor %}
                </ul>
            {% endwith %}
        {% endif %}
    </section>

    {% elif package.build_status == 'error' %}
    <section id="build-error">
        <p>{% translate "There was an error building this package." %}</p>
    </section>
    {% elif package.build_status == 'building' %}
    <section id="building">
        <p>{% translate "This package is being built." %}</p>
    </section>
    {% endif %}

    <section id="builds">
        <h2>{% translate "Builds" %}</h2>
        <ol>
            {% for compilation in package.compilations.all|slice:":10" %}
            <li>
                <a href="{{compilation.get_absolute_url}}"><time>{{compilation.start_time|date:"Y-m-d H:i"}}</time> - {{compilation.status}}</a>
            </li>
            {% endfor %}
        </ol>
    </section>
{% endblock main %}
