{% load i18n %}
{% load material %}
<li>
    <span class="item-type">{{item.type}}</span>
    <a href="{{item.url|urljoin:package.get_output_url}}">{{item.title}}</a>
    {% if item.slides_url %}
    <a href="{{item.slides_url|urljoin:package.get_output_url}}">{% translate "Slides" %}</a>
    {% endif %}
    {% if item.pdf_url %}
    <a href="{{item.pdf_url|urljoin:package.get_output_url}}">{% translate "PDF" %}</a>
    {% endif %}
    {% if item.content %}
    <ul>
        {% for subitem in item.content %}
        {% include "package/structure_item.html" with item=subitem %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
